
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.74);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    background-image: url(https://media3.giphy.com/media/PkWuiRr0ZRG1971bIM/giphy.gif);
    background-size: cover;
    background-position-x: center;
}





.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.98);
}

#about {
    padding: 40px;
    text-align: center;
    color: cornsilk;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}


#about h2 {
    margin: 30px 0;

}

.social a {
    margin: 0 15px;
    color: cornsilk;
}

.social a:hover {
    color: rgba(144, 97, 204, 0.486);
    font-size: 0.95em;
}